/* styles.css */

/* Start screen buttons */
.start-button {
    -fx-font-size: 20px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.info-button {
    -fx-font-size: 20px;
    -fx-background-color: #008CBA;
    -fx-text-fill: white;
}