.root {
    -fx-font-family: "Holtwood One SC";
    -fx-font-size: 20;
}

.base-button {
    -fx-text-fill: #7A2626;
    -fx-background-color: #FEED5D;
    -fx-font-size: 30;
    -fx-background-radius: 36;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 5, 5);
}

.base-button:hover {
    -fx-background-color: rgb(255, 235, 56);
}

.game-label {
    -fx-text-fill: #7A2626;
}